.cart-container {
    width: 18px;
    height: 18px;
    .cart-img {
        width: 100%;
        height: 100%;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.657);
    z-index: 5;
    pointer-events: all; 
}
.cart-dropdown-container {
    top: 0;
    right: 0;
    .cart-dropdown {
        top: 0;
        right: -100%;
        height: 100%;
        position: fixed;
        z-index: 10;
        display: flex;
        flex-direction: column;
        max-width: 59.5rem;
        background-color: white;
        width: 33%;
        transition: 0.3s;
        .head-section {
            padding: 2rem;
            border-bottom: 1px solid #1111113f;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cart-main-text {
                font-weight: 600;
                letter-spacing: 0.01rem;
            }
            .cross-icon-container {
                cursor: pointer;
                border: 2px solid #11111111;
                padding: 0.5rem 0.5rem;
                border-radius: 100%;
                display: flex;
                .cross-icon {
                    transform: scale(0.9);
                }
                &:hover {
                    border: 2px solid black;
                    background-color: black;
                    .cross-icon {
                        color: white;
                    }
                }
            }
        }
        .cart-product-section {
            padding: 2rem;
            overflow-y: scroll;
            .cart-product {
                display: flex;
                gap: 2rem;
                border-bottom: 1px solid #1111113f;
                margin-bottom: 2rem;
                height: 10rem;
                .cart-product-img {
                    height: 8rem;
                    min-width: 9rem;
                    padding: 1rem 2rem;
                    border-radius: 5px;
                }
                .cart-product-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .cart-product-specific {
                        .cart-product-name {

                        }
                        .cart-product-color {
                            margin-top: 0.3em;
                            color: gray;
                        }
                    }
                    .cart-product-price-container {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1.9rem;
                        .cart-product-quantity {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            border: 1px solid #a6a6a62c;
                            padding: 0.5rem 0.5rem;
                            border-radius: 5px;
                            .quantity-changer {
                                cursor: pointer;
                            }
                        }
                        .cart-product-price {
                            margin-left: 14rem;
                        }
                    }
                }
            }
        }
        .total-section {
            padding: 2rem;
            width: 100%;
            border-top: 1px solid #1111113f;
            background-color: white;
            margin-top: auto;
            .total-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 2rem;
                .total-text {

                }
                .total-price {

                }
            }
            .checkout-container {
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                color: white;
                background-color: black;
                padding: 1rem;
                font-weight: 500;
                border-radius: 5px;
                border: 1px solid black;
                cursor: pointer;
                .checkout-text {

                }
                .arrow-container {
                    display: flex;
                    .arrow-img {
                        height: 100%;
                        transform: scale(1.5);
                    }
                }
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
        &.active {
            right: 0;
        }
    }
}